/* Theme for qutebrowser pages */

* {
  color: #5b3c11;
}
html {
  background-color: #000000;
}
body {
  background-color: #000000;
  color: #5b3c11;
}
a {
  color: #58721d;
}
a:visited {
  color: #88421d;
}

.vote .star-off {
  filter: opacity(75%);
}
.vote .star-on {
  filter: opacity(50%) !important;
}
.vote .vote-down-off,
.vote .vote-up-off {
  filter: opacity(50%);
}
